In [2]:
import pandas as pd

In [31]:
df = pd.read_csv('green_tripdata_2019-01.csv')

In [32]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [55]:
df_trip_dateonly.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                         int64
congestion_surcharge            float64
dtype: object

In [34]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [35]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con= engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [12]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [15]:
df.shape

(630918, 20)

In [25]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', chunksize=10000)

In [26]:
df = next(df_iter)

In [27]:
len(df)

10000

In [28]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [29]:
from time import time

In [30]:
while True:
    start_time = time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    end_time = time()
    print(f'Elapsed time for the chunk: {end_time - start_time:.2f} seconds')

Elapsed time for the chunk: 0.79 seconds
Elapsed time for the chunk: 0.83 seconds
Elapsed time for the chunk: 0.78 seconds
Elapsed time for the chunk: 0.91 seconds
Elapsed time for the chunk: 0.81 seconds
Elapsed time for the chunk: 0.88 seconds
Elapsed time for the chunk: 0.98 seconds
Elapsed time for the chunk: 1.09 seconds
Elapsed time for the chunk: 0.91 seconds
Elapsed time for the chunk: 0.81 seconds
Elapsed time for the chunk: 0.92 seconds
Elapsed time for the chunk: 0.79 seconds
Elapsed time for the chunk: 0.75 seconds
Elapsed time for the chunk: 0.75 seconds
Elapsed time for the chunk: 0.76 seconds
Elapsed time for the chunk: 0.82 seconds
Elapsed time for the chunk: 0.81 seconds
Elapsed time for the chunk: 1.05 seconds
Elapsed time for the chunk: 0.79 seconds
Elapsed time for the chunk: 0.78 seconds
Elapsed time for the chunk: 0.81 seconds
Elapsed time for the chunk: 0.79 seconds
Elapsed time for the chunk: 0.77 seconds
Elapsed time for the chunk: 0.79 seconds
Elapsed time for the chunk: 0.90 seconds
Elapsed time for the chunk: 0.76 seconds
Elapsed time for the chunk: 0.77 seconds
Elapsed time for the chunk: 0.76 seconds
Elapsed time for the chunk: 0.78 seconds
Elapsed time for the chunk: 0.77 seconds
Elapsed time for the chunk: 0.78 seconds
Elapsed time for the chunk: 0.92 seconds
Elapsed time for the chunk: 0.77 seconds
Elapsed time for the chunk: 0.72 seconds
Elapsed time for the chunk: 0.72 seconds
Elapsed time for the chunk: 0.70 seconds
Elapsed time for the chunk: 0.70 seconds
Elapsed time for the chunk: 0.71 seconds
Elapsed time for the chunk: 0.90 seconds
Elapsed time for the chunk: 0.73 seconds
Elapsed time for the chunk: 0.72 seconds
Elapsed time for the chunk: 0.70 seconds
Elapsed time for the chunk: 0.74 seconds
Elapsed time for the chunk: 0.75 seconds
Elapsed time for the chunk: 0.72 seconds
Elapsed time for the chunk: 0.72 seconds
Elapsed time for the chunk: 0.89 seconds
Elapsed time for the chunk: 0.76 seconds
Elapsed time for the chunk: 0.77 seconds
Elapsed time for the chunk: 0.86 seconds
Elapsed time for the chunk: 0.80 seconds
Elapsed time for the chunk: 0.75 seconds
Elapsed time for the chunk: 0.74 seconds
Elapsed time for the chunk: 0.90 seconds
Elapsed time for the chunk: 0.77 seconds
Elapsed time for the chunk: 0.77 seconds
Elapsed time for the chunk: 0.79 seconds
Elapsed time for the chunk: 0.82 seconds
Elapsed time for the chunk: 0.77 seconds
Elapsed time for the chunk: 0.74 seconds
Elapsed time for the chunk: 0.81 seconds
Elapsed time for the chunk: 0.94 seconds
Elapsed time for the chunk: 0.08 seconds

StopIteration: